@charset "UTF-8";

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #ccc;
  width: 1180px;
  margin: 0 auto;
}

/*-------------------------------------------
header
-------------------------------------------*/
header {
  background: #555;
  width: 100%;  
  /* headerを手前に表示 */
  z-index:11;
  position: absolute;

  /* title-navと.btnをY軸方向で中央ぞろえに */
  align-items: center; 
  /* title-navと.btnを横並びに */
  display: flex;
  
  /* .title-navと.btnを両端ぞろえに */
  justify-content: space-between;
}

.title-nav {
  display: flex;/* h1,nav,.btnを横並びに */
  align-items: center;/* h1,nav,.btnをY軸方向で中央ぞろえに */
}

header a {
  color:#fff;
}

.title {
  display: flex;
}

header nav ul {
  display: flex;
}

header .btn {
  display: flex;
}

/*-------------------------------------------
first-view
-------------------------------------------*/

.first-view {
  height: calc( 107900vw / 1920 );/* 背景画像の縦横比に合わせる */
  overflow: hidden;/* imgがズームした時にはみ出た部分を隠す。 */
  position: relative;
}

.main_img {
  z-index:10;
  opacity: 0;
  width: 100%;
  height: calc( 107900vw / 1920 );/* 背景画像の縦横比に合わせる */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 18s 0s infinite;
  animation: anime 18s 0s infinite;
}

  .main_img:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s; }

  .main_img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; }


@keyframes anime {
  0% {
      opacity: 0;
  }
  16% {
      opacity: 1;
  }
  34% {
      opacity: 1;
  }
50% {
      opacity: 0;
      transform: scale(1.2);
      z-index:9;
  }
  100% { opacity: 0 }
}

@-webkit-keyframes anime {
  0% {
      opacity: 0;
  }
  16% {
      opacity: 1;
  }
  34% {
      opacity: 1;
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.2);
      z-index:9;
  }
  100% { opacity: 0 }
}


.copy {
  color: #fff;
  -ms-writing-mode: tb-rl;/* 縦書き指定（IE） */
  writing-mode: vertical-rl;/* 縦書き指定 */
  position: absolute;
  z-index:12;
  top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/*-------------------------------------------
#about
-------------------------------------------*/
#about {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;/* 画面幅に合わせる */
  height: calc( 68100vw / 1920 );/* 背景画像の縦横比に合わせる */
  -ms-writing-mode: tb-rl;/* 縦書き指定（IE） */
  writing-mode: vertical-rl;/* 縦書き指定 */
  text-orientation: upright; /* すべて縦方向に表示 */
}


/*-------------------------------------------
#feature
-------------------------------------------*/

#feature li {
  display: flex;
}

#feature ul > li:nth-child(even) {
  flex-direction: row-reverse;
}

#feature img {
  width: 55vw;
  height: 28vw;
  object-fit: cover;
}

#feature .feature-desc {
  /* background: #ccc; */
  width: 30vw;
  align-content: center;
}

.feature-btn {
  border: solid 1px #707070;
}


/*-------------------------------------------
#plan
-------------------------------------------*/
#plan {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg02.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;/* 画面幅に合わせる */
}

#plan h2 {
  text-align: center;
}

.plan-wrapper {
  display: flex;
  justify-content: space-between;
}

.plan-item {
  width: 27%;
}

.plan-item img {
  width: 100%;
}


/*-------------------------------------------
#news
-------------------------------------------*/
#news h2, .news-nav {
  text-align: center;
}

.news-nav ul {
  background: #eee;
  display: flex;
  justify-content: center;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  background: #eee;
  width: 48%;
  display:flex;
}

.news-item img {
  width: 20%;
}

/*-------------------------------------------
#access
-------------------------------------------*/
#access {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;/* 画面幅に合わせる */
}

.access-wrapper {
  display: flex;
}

.access-wrapper img {
  width: 56%;
}

.map {
  width: 67%;
  margin: 0 auto;
}


/*-------------------------------------------
footer
-------------------------------------------*/
footer {
  text-align: center;
}

nav {
  background: orange;
}

footer ul {
  background: pink;
  margin: 0 auto;
  -ms-writing-mode: tb-rl;/* 縦書き指定（IE） */
  writing-mode: vertical-rl;/* 縦書き指定 */
}

.copyright {
  background: #000000;
  color: #fff;
}

/*-------------------------------------------
PC
-------------------------------------------*/
@media screen and (min-width: 600px) {
  
  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  
  /*-------------------------------------------
  About
  -------------------------------------------*/
 
  /*-------------------------------------------
  
  -------------------------------------------*/
  
}
