@charset "UTF-8";

/* 共通のCSS */
* {
  box-sizing: border-box;
}

body {
  /* background: #ccc; */
  /* border: 5px solid pink; */
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 100%;
  font-weight: 500;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

img {
  vertical-align: bottom;
}

/* h2, h3 {
  font-weight:500;
} */

.wrapper {
  /* background: #ccc; */
  width: calc( 100vw - 100px );
  max-width: 1180px;
  margin: 0 auto;
  padding: 60px 0 0;
}

.text-block {
  display: inline-block;
}

/* #plan以降のセクションの共通のh2に関するCSS（footerを除く） */
.wrapper h2 {
  text-align: center;
}
.h2-logo {
  margin-bottom: 20px;
}

.wrapper h2 p {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
}

/* 画像の背景 */
.img-bg {
  background:#ccc;
  height: fit-content;  /* 背景画像が画像からはみ出さないようにする */
}


/* -------------------------------------------
first-view
------------------------------------------- */

.first-view {
  width: 100vw;
  max-width: 1920px;
  /* height: calc( 107900vw / 1920 ); 背景画像の縦横比に合わせる */
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;/* imgがズームした時にはみ出た部分を隠す。 */
  position: relative;
  margin: 0 auto;
}

.main_img {
  z-index:10;
  opacity: 0;
  /* width: 100%;
  height: calc( 107900vw / 1920 );背景画像の縦横比に合わせる */
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 18s 0s infinite;
  animation: anime 18s 0s infinite;
}

  .main_img:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s; }

  .main_img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; }


@keyframes anime {
  0% {
      opacity: 0;
  }
  16% {
      opacity: 1;
  }
  34% {
      opacity: 1;
  }
50% {
      opacity: 0;
      transform: scale(1.2);
      z-index:9;
  }
  100% { opacity: 0 }
}

@-webkit-keyframes anime {
  0% {
      opacity: 0;
  }
  16% {
      opacity: 1;
  }
  34% {
      opacity: 1;
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.2);
      z-index:9;
  }
  100% { opacity: 0 }
}

/* -------------------------------------------
header
------------------------------------------- */

.header-wrapper {
  /* background: #555; */
  width: 100%;
  max-width: 1920px;

  height: 80px;
  /* .reserve.btnの右上の余白を基準に設定 */
  padding: 13px 20px;
  
  /* headerを手前中央に表示 */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index:11;
  
  /* .title-navと.reserve-btnを横並びに */
  display: flex;
  
  /* .title-navと.btnを両端ぞろえに */
  justify-content: space-between;
  
  /* .title-navと.reserve-btnをY軸方向で中央ぞろえに */
  align-items: center;
}

/* h1のロゴとテキストの間の余白 */
.title p {
  margin-left: 15px;
}

.title-nav {
  display: flex;
  align-items: center;
}

.site-logo {
  /* background: brown; */
  font-family: 'Toppan Bunkyu Midashi Mincho';
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: .18em;
  /* letter-spacing: calc( 17em / 96 ); */
}


header nav {
  /* background: brown; */
  margin-left: calc( 100vw * ( 114.24 / 1920 ));
}

header nav ul {
  display: flex;
}

header nav li:not(:first-child) {
  margin-left: 30px;
  /* デザイン上では、2つ目のliの左側にイレギュラーな余白があるが、それは反映しない */
}

.first-header {
  z-index: 11;
}

.white-header {
  background: #fff;
  width: 100%;
  height: 80px;
  color: #000;
  /* ヘッダーバーを固定 */
  position: fixed; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  /* opacity: .7; */
}

/* スクロールすると出現するヘッダー */
.second-header {
  display: none;
}

.first-header a {
  color:#fff;
}

.white-header a {
  color:#000;
}

.title {
  display: flex;
  align-items: center;
}

.reserve-btn {
  display: flex;
  background: #978F10;
  /* padding: 16px 37px; */
  padding: 0 37px;
  cursor: pointer;
}

.reserve-btn:hover {
  opacity: .7;
}


.reserve-btn img {
  align-self: center;
}

.reserve-btn p {
  color: #fff;
  margin-left: 10px;
  line-height: 54px;
  font-weight: 800;
}

.btn {
	display: none;
}

/*-------------------------------------------
#modal
-------------------------------------------*/
#modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;/* 重なり順を一番上へ */
  display: none;
}

#reserve-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 60px;
  border: 1px solid #707070 ;
  width: 550px;
  height: 600px;
  
}

/* モーダルを閉じるボタン */
#reserve-modal #close {
  position: absolute;
  top: 20px;
  right: 22px;
  cursor:pointer;
}

#reserve-modal h2 {
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
  font-size: 20px;
  line-height: 1;
  padding: 29px;
  margin-bottom: 35.5px;
}

#reserve-modal input, #reserve-modal select {
  border: 1px solid #E7E7E7;
  /* border: 1px solid #000; */
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding-left: 10px;
}

#flatpickr {
  margin-bottom: 64px;
}

#reserve-modal label {
  display: block;
  line-height: 1;
  margin: 14px 0;
}

#reserve-modal button {
  border: 1px solid #707070;
}

#select-plan {
  color: #797878;
}

#reserve-modal button {
  padding: 12px 65px;
  line-height: 1;
  display: block;
  margin: 0 auto;
}

.copy {
  /* display: none; */
  color: #fff;
  font-size: 2.125rem;
  font-weight: 800;
  letter-spacing: .23em;
  line-height: 1.25;
  -ms-writing-mode: tb-rl;/* 縦書き指定（IE） */
  writing-mode: vertical-rl;/* 縦書き指定 */
  position: absolute;
  z-index:10;
    top: 18.9vw;
    right: 32.8vw;
}

/*-------------------------------------------
#about
-------------------------------------------*/
#about {
  width: 100vw;
  margin-bottom:  106px;
  background: rgb(224, 219, 219);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#about-wrapper {
  padding: 64px 0 94px 0;
  width: 100vw;/* 画面幅に合わせる */
  writing-mode: vertical-rl;/* 縦書き指定 */
  text-orientation: upright; /* すべて縦方向に表示 */
  display: table-cell;
  vertical-align: middle;
}

#about h2 {
  /* background: yellow; */
  font-size: 1.75rem;
  letter-spacing: .5em;
  line-height: calc( (28 + 33 ) / 28 );
  margin-left: calc( 45em / 28 );
}

#about p {
  /* background: orange; */
  letter-spacing: .37em;
  line-height: calc( (22 + 16) / 16 );
  padding-top: 84px;
}

/* デザインカンプでは、「石井花壇」の左側にも余白がある状態で中央揃えしているが、それだと少し右寄りになってしまうので、デザインとズレるが「石井花壇」の左側の余白は取り除いた */

#about p:not(:last-child) {
  margin-left: calc( 92.5em / 16 );
}

#about p:last-child {
  padding-top: 379px;
  font-size: 1.375rem;
  letter-spacing: .45em;
}


/*-------------------------------------------
#feature
-------------------------------------------*/
#feature li {
  /* background-color: palegoldenrod; */
  display: flex;
  margin-bottom: 122px;
}


#feature li:last-child {
  margin-bottom: 78px;
}



#feature ul > li:nth-child(even) {
  flex-direction: row-reverse;
}

#feature img {
  width: calc( 100vw - 137px - 630px );
  max-width: 1050px;
  height: 545px;
  object-fit: cover;
}

#feature .feature-desc {
  /* background: #ccc; */
  /* width: 30vw; */
  width: 870px;
  align-content: center;
  padding-top: calc( 32px - 13px );
}

#feature ul li:nth-child(odd) .feature-desc {
  /* background-color: brown; */
  padding-right:100px;
  padding-left:137px;
}

#feature ul li:nth-child(even) .feature-desc {
  /* background-color: green; */
  padding-left:100px;
  padding-right:137px;
  
}

#feature h2 {
  font-size: 2.25rem;
  line-height: calc( 62 / 36 );
  margin-bottom: calc( 75px - 13px - 8px );
}

#feature p {
  line-height: 2;
  margin-bottom: calc( 75px - 8px );
}

.feature-btn {
  display: inline-block;
  width: 200px;
  height:56px;
  /* background: yellow; */
  border: solid 1px #707070;
  line-height: 56px;
  text-align: center;
  color: #000;
}

.feature-btn:hover {
  opacity: .7;
}

/*-------------------------------------------
#plan
-------------------------------------------*/
#plan {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg02.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width:1920px;
  padding-bottom: calc( 144px - .5em );
  margin: 0 auto;
}

#plan h2 {
  margin-bottom: 66px;
}

.plan-wrapper {
  display: flex;
  justify-content: space-between;
}

.plan-item {
  width: calc( 100% * 331 / 1180 );
}

.plan-img-wrapper {
  margin-bottom: calc( 32px - 6px );
}

.plan-item img {
  width: 100%;
  height: 209px; 
  object-fit: cover;
  /* imgとh3の間の余白には、h3のline-heightが含まれている */
}


.plan-item h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  /* background: yellow; */
  /* h3とpの間の余白には、h3とpのline-heightが含まれている */
  margin-bottom: calc( 36px - 6px - 8px );
  /* margin-bottom: 100px; */
}

.plan-item p {
  /* background: lime; */
  line-height: 2;
}


/*-------------------------------------------
#news
-------------------------------------------*/
#news {
  /* background: lime; */
  padding-bottom: 40px;
}

#news h2 {
  margin-bottom: 46px;
}

.tab {
  /* background: yellow; */
  display: flex;
  justify-content: center;
  /* デザインカンプでは、中央から10.5px右にずれた位置になっているが、意図不明のため中央に合わせた。 */
  margin-bottom: 49px;
}

/* タブメニューに関するCSS */
.tab li {
  cursor: pointer;
  margin-left: 53px;
  line-height: 1;
  font-weight: 500;
}

.tab li:first-child {
  margin-left: 0;
}

.tab li.active-tab {
  text-decoration: underline;
  cursor: auto;
}

.area dl {
  display: none;
}

.area .show {
  /* background: brown; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* デザインカンプでは、右側のnews-itemが6px右にずれているが、ずれは反映していない。 */
}


.news-item {
  background: #eee;
  width: calc( 100% * 570 / 1180 );
  display:flex;
  padding: 15px 10px;
  margin-bottom: 20px;
}

/* .news-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 20px;
} */

.news-item img {
  width: calc( ( 100vw - 100px ) * 103 / 1180 );
  max-width: 103px;
  height: calc( ( 100vw - 100px ) * 100 / 1180 );
  max-height: 100px;
  object-fit: cover;
}

.news-desc {
  margin-left: 30px;
}

.news-desc dt {
  font-size: calc(1rem * 14 / 16);
  line-height: 1;
  margin-bottom: calc( 10px- 8px );
}

.news-desc dd {
  line-height: 2;
}

/*-------------------------------------------
#access
-------------------------------------------*/
#access {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width:1920px;
  margin: 0 auto;
}

#access .wrapper {
  /* background-color: palegoldenrod; */
  padding-bottom: 110px;
}

#access h2 {
  margin-bottom: 84px;
}

.access-wrapper {
  /* background: lime; */
  display: flex;
  margin-bottom: 69px;
  /* width: 1180px; */
}

.access-wrapper img {
  width: calc( 656px - (.74 * ( 1536px - 100vw ) ) );
  max-width: 656px;
  height: 370px;
  object-fit: cover;
}

.access-info {
  /* background: yellow; */
  /* width: calc( 83px + 568px + 50px ); */
  width: 702px;
  padding-left: 83px;
  padding-right: 50px;
  padding-top: 12px;
  margin-right: calc( -128px - 50px );
}

.access-info dt {
  font-weight: 800;
  line-height: 2;
  margin-bottom: 8px;
}

.access-info dd, .access-info p{
  font-weight: 500;
  line-height: 2;
  margin-bottom: 8px;
}

.map-wrapper {
  width: calc( ( 100vw - 100px ) * 792 / 1180 );
  max-width: 792px;
  height: calc( ( 100vw - 100px ) * 592 / 1180 );
  max-height: 592px;
  margin: 0 auto;
  /* border: solid 1px #707070; */
}

.map {
  width: 100%;
  height: 100%;
}

.map iframe {
  vertical-align: top;
}

/*-------------------------------------------
footer
-------------------------------------------*/
footer {
  background: rgb(224, 219, 219);
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width:1920px;
  margin: 0 auto;

  /* height: 775px; */
  text-align: center;
  padding-top: 64px;
}


footer ul {
  /* background: pink; */
  margin: 0 auto 82px;
  /* 余白96px - liのline-spacing14px = 82px */
  -ms-writing-mode: tb-rl;/* 縦書き指定（IE） */
  writing-mode: vertical-rl;/* 縦書き指定 */
  text-align: left;
}

footer li {
  margin-left: 34px;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: calc( 14em / 18 );
}

footer li:last-child {
  margin-left: 0;
}

footer h2 p {
  /* background: green; */
  font-size: 2rem;
  font-weight:800;
  letter-spacing: .18em;
  line-height: 1;
  margin-bottom: 72px;
  padding-left: .18em;
}

footer address {
  font-style: normal;
  margin-bottom: 61px;
}

footer address p {
  line-height: 1;
  margin-bottom: 23px;
}

.copyright {
  background: #000000;
  color: #fff;
  line-height: 1;
  padding: 23px;
  font-size: .75rem;
  font-weight: 500;

}

/* ********************************************************** 
rooms.html
********************************************************** */
.fv-img {
  background-image: url(../img/oheya-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc( 100vw * 500 / 1920 );
  max-height: 500px;
  margin-top: 80px;
  position: relative;
}

.fv-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  font-weight: 800;
  color: #fff;
}

.second-wrapper {
  /* background: gray; */
  padding-top: 36px;
  padding-bottom: 150px;
}

.second-wrapper h2 {
  text-align: left;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 90px;
  width: fit-content;
  font-family: "游明朝体";
  /* font-familyの指定がないと"<"のサイズがズレる */
}

.second-wrapper h2 a {
  color: #000;
}

.second-wrapper h2 a:hover {
  opacity: .5;
}


.page-desc {
  text-align: center;
  line-height: 2;
  margin-bottom: 127px;
}

.second-item {
  width: calc( 100vw - 100px);
  max-width: 1180px;
  display: flex;
}

.second-item:not(:last-child){
  margin-bottom: 141px;
}

.second-item:nth-child(even) {
  flex-direction: row-reverse;
}

.second-item-img-wrapper {
  /* background: yellow; */
  width: calc( ( 100vw - 100px )  * 367 / 1180 );
  max-width: 367px;
  /* height: calc( ( 100vw - 100px )  * 381 / 1180 ); */
  /* max-height: 381px; */
  position: relative;
}

.second-item img {
  max-width: 525px;
  max-height: 300px;
  width: calc( ( 100vw - 100px )  * 525 / 1180 );
  height: calc( ( 100vw - 100px )  * 300 / 1180 );

  object-fit:cover;
  position: absolute;
  top: -57px;
}

.second-item:nth-child(even) img {
  right: 0;
}

.second-item-desc-wrapper {
  background-image: url(../img/bg.png);
  width: calc( ( 100vw - 100px )  * 813 / 1180 );
  max-width: 813px;
  /* height: calc( ( 100vw - 100px )  * 381 / 1180 ); */
  /* max-height: 381px; */
  padding: 32px;
  padding-top: 60px;
}

.second-item:nth-child(odd) .second-item-desc-wrapper {
  /* padding-left: 238px; */
  padding-left: calc( 100% * 238 / 1180 );
}

.second-item:nth-child(even) .second-item-desc-wrapper {
  padding-left: 60px;
}

.second-item-desc-wrapper h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 44px;
}

.second-item-desc-wrapper p {
  margin-bottom: 40.5px;
  line-height: 2;
}

.second-item-desc-wrapper p:nth-child(3) {
  /* background: yellow; */
  font-size: 14px;
  line-height: calc( 21 / 14 );
  padding-left: 6px;
}



/*画面幅が1024px以下の場合（タブレット）に適用するCSSを記入*/
@media screen and (max-width: 1024px) {

  #about h2 {
    font-size: 1.5rem;
    margin-left: calc( 45em / 28 );
  }

  #about p:not(:last-child) {
    margin-left: calc( 45em / 16 );
  }

  #about p:last-child {
    font-size: 1.2rem;
  }

  #feature li {
    display: block;
  }

  #feature img {
    width: 100%;
    max-width: 100%;
    height: 512px;
    object-fit: cover;
  
  }

  #feature .feature-desc {
    width: 100%;
    padding-left:50px;
  }
    
  /* #feature h2 {
    font-size: 2.25rem;
    line-height: calc( 62 / 36 );
    margin-bottom: calc( 75px - 13px - 8px );
  } */
  
  #feature p {
    line-height: 2;
    margin-bottom: calc( 75px - 8px );
  }
  
  .feature-btn {
    display: inline-block;
    width: 200px;
    height:56px;
    border: solid 1px #707070;
    line-height: 56px;
  }
  

  .plan-item {
    width: 28%;
    max-width: 331px;
  }
  
  .plan-item img {
    width: 100%;
    height: calc( ( 100vw - 100px ) * 209 / 1180 );
    max-height: 209px; 
    object-fit: cover;
  }
  
  .plan-item h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: calc( 36px - 6px - 8px );
  }
  
  .plan-item p {
    line-height: 1.8;
  }

  .news-item {
    width: 100%;
    display:flex;
  }

  .news-item img {
    width: 103px;
    height: 100px;
  }

  .area .show {
    display: block;
    justify-content: space-between;
  }
  
  .access-wrapper {
    display: block;
  }

  .access-wrapper img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .access-info {
    width: 100%;
  }

  .access-info dt {
    font-weight: 800;
    line-height: 2;
    margin-bottom: 8px;
  }

}


/*画面幅が767px以下の場合（スマホ）に適用するCSSを記入*/
@media screen and (max-width: 767px) {
  .header-wrapper {
    padding: 13px 8px;
  }

  .title p {
    font-size: 1.5rem;
    letter-spacing: .18em;
    margin-left: 4px;
  }

  h1 img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .reserve-btn {
    padding: 0 16px;
  }

  .copy {
    /* display: none; */
    font-size: 2.125rem;
    position: absolute;
    z-index:10;
      top: 46vw;
      right: 18vw;
  }
  
  

  .wrapper {
    width: 90%;
  }

  .wrapper h2 p {
    font-size: 2rem;
  }

  .btn-wrapper {
		display: flex;
		align-items: center;
    justify-content: center;
		/* position: fixed;
		top: 16px;
		right: 16px;
		z-index: 100; */
	}
  
  button {
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		color: inherit;
		vertical-align: middle;
		text-align: inherit;
		font: inherit;
		-webkit-appearance: none;
		appearance: none;
	}
	
	.btn {
		display: block;
		width: 48px;
		height: 48px;
		order: 2;
		margin-left: 16px;
	}
	/***** 真ん中のバーガー線 *****/
	.btn-line {
		display: block;
		position: relative;
		width: 100%;
		height: 4px;
		background-color: #fff;
		transition: .2s;
	}
  
  /* .second-header .btn-line { */
  .white-header .btn-line {
    background-color: #000;
  }

  .btn-line::before , .btn-line::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transition: .5s;
	}
  
  /* .second-header .btn-line::before , .second-header .btn-line::after { */
  .white-header .btn-line::before , .white-header .btn-line::after {
    background-color: #000;
  }


	.btn-line::before {
		transform: translateY(-16px);
	}
	.btn-line::after {
		transform: translateY(16px);
	}

	/***** メニューオープン時 *****/
	.btn-line.open {
		/* 真ん中の線を透明に */
		background-color: transparent;
	}
	.btn-line.open::before , .btn-line.open::after {
		content: "";
		background-color: #fff;
		transition: .2s;
	}
  
  /* .second-header .btn-line.open::before , .second-header .btn-line.open::after { */
  .white-header .btn-line.open::before , .white-header .btn-line.open::after {
    background-color: #000;
  }

	.btn-line.open::before {
		/* 上の線を傾ける */
		transform: rotate(45deg);
	}
	.btn-line.open::after {
		/* 上の線を傾ける */
		transform: rotate(-45deg);
	}
	
	/**************** 以下、メニューのスタイリング ****************/
	.menu {
		/* メニューを縦に */
		display: flex;
		flex-direction: column;
		position: fixed;
		/* メニューの位置マイナス指定で画面外に */
		right: -70%;
		width: 70%;
		height: calc( 80vh - 80px);
		background-color: #000;
		color: #fff;
		transition: .3s;
	}

	.menu a {
		color:#fff;
	}
	
	/***** メニューオープン時位置0にして画面内に *****/
	.menu.open {
		position: absolute;
		right: 0;
		top: 80px;
	}
	
  .menu-list {
    /* メニューテキスト位置をリスト内中心に */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding-left: 16px; */
  }
  .menu-list:not(:first-child) {
    margin-left: 0;
  }
	.menu-list:hover {
		background-color: rgba(255, 255, 255, .7);
		cursor: pointer;
		transition: .3s;
	}	

  /* .second-header .menu {
    display: none;
  } */

  /* ここから修正 */

  #reserve-modal{
    padding: 0 32px;
    width: 375px;
    height: 600px;
  }
  
  
  #reserve-modal span {
    font-size: 12px;
    display: inline-block;
  }
  
  /* #reseve-modal select {
    font-size: 36px;
  } */

  #reserve-modal select {
    font-size: 12px;
  }
  
  #about {
    padding: 16px;
    margin-bottom: 64px;
  }

  #about-wrapper {
    padding: 1em 0;
    writing-mode: horizontal-tb;
  }

  #about h2 {
    letter-spacing: 0;
    line-height: 1.7;
    margin-left:0;
    margin-bottom: 1em;
  }
  
  .indent {
    display: none;
  }

  #about p {
    line-height: 1.5;
    letter-spacing: 0;
    padding-top: 0;
  }
  
  
  #about p:not(:last-child) {
    margin-bottom: 2em;
    margin-left: 1em;
  }

  #about p:last-child {
    text-align: right;
    padding-top: 0;
  }

  #feature {
    margin-bottom: 32px;
  }
  
  #feature li {
    margin-bottom: 32px;
  }
  
  #feature ul li:nth-child(odd) .feature-desc {
    padding: 16px;
  }
  
  #feature ul li:nth-child(even) .feature-desc {
    padding: 16px;
  }
  
  
  #feature img {
    width: 100%;
    height: 25vh;
    object-fit: cover;

  }
  
  #feature h2 {
    /* background: yellow; */
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  
    #plan h2, #news h2, #access h2 {
      margin-bottom: 32px;
    }

  #feature p {
    margin-bottom: 1.5em;
  }

  #plan {
    padding-bottom: 64px;
  }

  .plan-wrapper {
    display: block;
  }

  .plan-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .plan-item img {
    width: 100%;
    height: 25vh;
    max-height: 25vh;
  }

  #news {
    padding-bottom: 64px;
  }

  #news .tab {
    margin-bottom: 16px;
  }

  .news-item img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
  }

  .news-desc {
    margin-left: 16px;
  }

  .news-desc dd {
    line-height: 1.5;
  }

  #access {
    padding-bottom: 64px;
  }

  #access .wrapper {
    padding-bottom: 0;
  }
  
  .access-wrapper {
    margin-bottom: 32px;
  }

  #access .img-bg {
    margin-bottom: 16px;
  }

  .access-wrapper img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }

  .access-info {
    padding: 0;
  }

  .access-info dt, .access-info dd, .access-info p {
    line-height: 1.5;
  }

  .map-wrapper {
    width: 90vw;
    height: calc( 90vw * 592 / 792 );
  }

  .second-wrapper {
    padding-bottom: 64px;
  }
  
  .second-wrapper h2 {
    margin-bottom: 32px;
  }

  .page-desc {
    margin-bottom: 32px;
  }

  .second-item-wrapper {
    /* background: lime; */
    width: 100%;
  }
  .second-item {
    width: 100%;
    /* background: yellow; */
    display: block;
  }

  .second-item:not(:last-child){
    margin-bottom: 32px;
  }
  
  .second-item-img-wrapper {
    width: 80vw;
    height: calc( 80vw * 300 / 525 );
    padding: 32px;
  }

  .second-item:nth-child(odd) .second-item-desc-wrapper {
    padding-left: 32px;
  }
  
  .second-item:nth-child(even) .second-item-desc-wrapper {
    padding-left: 32px;
  }

  .second-item img {
    width: 80vw;
    height: calc( 80vw * 300 / 525 );
    top: 16px;
    left: 0;
  }

  .second-item-desc-wrapper {
    width: 95%;
    padding: 32px;
    margin-left: auto;
    /* position: absolute;
    right: 0; */
  }

  .second-item-desc-wrapper h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1em;
  }

  .second-item-desc-wrapper p {
    margin-bottom: 1em;
  line-height: 2;
  }

  .second-item-desc-wrapper p:nth-child(3) {
    /* background: yellow; */
    font-size: 14px;
    line-height: calc( 21 / 14 );
    margin-bottom: 1em;
  }
  
}

/* 作業用CSS */

/* * { outline:2px solid red; } */
/* .first-view { display: none; } */
  /* header { display: none; } */
  /* #about { display: none; }  */
/* #feature { display: none; }  */
/* #plan { display: none; }  */
/* #news { display: none; }  */
/* #access { display: none; }  */
/* footer { display: none; }  */

